@import url("https://fonts.googleapis.com/css?family=Gudea");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, th, td, form, input, textarea, a {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #121212;
    font-family: Gudea, sans-serif;
    font-size: 16px;
    color: #e0e0e0;
    overflow-y: scroll;
}

#page {
    width: 900px;
    margin: auto;
    padding-bottom: 50px;
}

#header {
    margin-top: 25px;
    padding-bottom: 4px;
    border-bottom: 1px solid #444;
    margin-bottom: 7px;
}

#title {
    font-size: 16pt;
    font-weight: bold;
    color: #9fd1ff;
}

#social_media {
    float: right;
    margin-bottom: -5px;
}

.social_ico {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    opacity: 0.65;
}

.social_ico:hover {
    opacity: 0.8;
}

#cursor {
    padding-left: 10px;
    animation: 1s steps(1, start) 0s infinite blink;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes blink {
    0%, 100% { background-color: #e0e0e0; color: #aaa; }
    50% { background-color: #121212; color: #aaa; }
}

#menu {
    margin-bottom: 20px;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    display: inline;
    cursor: pointer;
    margin-right: 22px;
}

#menu li:not(.active):hover {
    color: #aaa;
}

#menu .active {
    font-weight: bold;
}

#active-border {
    position: absolute;
    left: 510px;
    top: 85px;
    width: 39px;
    height: 3px;
    background-color: #3a3a3a;
}

#content {
    width: 810px;
    font-size: 14px;
    margin: 30px;
}

h1 {
    color: #9fd1ff;
    font-size: 16pt;
    margin-bottom: 7px;
}

h2 {
    color: #8de3c8;
    font-size: 15pt;
    margin-bottom: 5px;
}

h3 {
    color: #d8bc80;
    font-size: 15pt;
    margin-bottom: 5px;
}

p {
    padding-bottom: 20px;
}

a {
    color: #8ab4f8;
}

ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

.code-font {
    font-family: "Courier New", Courier, monospace;
}

div.section_divider {
    width: 500px;
    border-bottom: 1px solid #444;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.popup-gallery a {
    display: inline-block;
    width: 135px;
    height: 135px;
    border: 1px solid #555;
    margin: 10px;
}

.popup-gallery a img {
    width: 100%;
    height: 100%;
    border: 0;
}

.portfolio_item {
    height: auto;
    margin-bottom: 50px;
}

.portfolio_item h2 {
    margin-top: 0;
}

.portfolio_item:nth-of-type(2n+1) img {
    float: right;
    margin: 5px -20px 0 50px;
}

.portfolio_item:nth-of-type(2n) img {
    float: left;
    margin: 0 50px 0 -20px;
}

img {
    border: 2px solid #3a3a3a;
    border-radius: 2px;
}

img.right {
    float: right;
    margin: 10px 10px 10px 25px;
}

img.left {
    float: left;
    margin-left: 10px;
    margin-right: 25px;
}

.youtube {
    width: 648px;
    height: 364px;
    background-color: #000;
    margin: auto;
    border: 5px solid #333;
    border-radius: 5px;
    box-shadow: #444 3px 3px 5px;
    margin-bottom: 30px;
}

.youtube iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

#resume {
    width: 88%;
}

.img_resume {
    margin-top: 0;
    margin-right: 30px;
    cursor: pointer;
}

.img_resume:hover {
    opacity: 0.85;
}